
/*Add drop down to portfolio for works and testimonials also, skills*/

body, html {
    margin: 0;
    padding: 0;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

html {
    overflow: visible !important;
}

.navlist {
    display: inline;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 20px;
    
}

li a {
    padding: 14px 20px;
}

a:focus {
    outline: none;
    text-decoration: none;
}

a:visited {
    color: rbg (51, 51, 51) !important;
}

.navlist a:hover {
    color: white;
     
}

.navlist a:visited {
    text-decoration: none;
    color: white;
}

.navlink {
    text-decoration: none;
    color: white;
}


.navigation {
       background-color: black;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    min-height: 60px;
    text-align: center;
    z-index: 2 !important;
}



/* STOP OVERFLOW */
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

h1 {
    font-family: Impact, Charcoal, sans-serif !important;
}

h1, h2, h3 {
    text-align: center;
}

.bodyH3 {
    font-size: 20px;
}



/*for h2 */
em {
    font-size: 30px !important;
    font-family: 'Cabin Condensed', sans-serif !important;
}


.emailHeader {
    font-size: 20px !important;
}

.bodyPara {
    margin-left: 5% !important;
    margin-right: 5% !important;
    line-height: 1.8 !important;
}

.selfie {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    display: block;
    margin: auto;
     
}

.aside-para {
    margin-right: 10%;
    margin-left: 10%;
}

.sideBar .col-md-4 {
    background-color: gainsboro;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.gitLogo {
    width: 120px;
    height: 40px;
    display: inline-block;
}

.linkedinBtn {
    height: 33px;
    width: 120px;
    display: inline-block;
}

.socialIcons {
    display: block;
    margin: auto;
    width: 75%;
}

.skillsSection {
    margin-top: 0px;
    background-image:
     linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),    
    url(/img/bg1.jpg);
}

.skillsSection .row {
    margin-left: 3% !important;
    margin-right: 3% !important;
}

.skillsSection h1 {
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    padding-top: 10px;
}

.skillsSection h2 {
    font-family: 'Aller_Rg';
    font-weight: 600;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    margin-bottom: 20px;
}

@font-face {
    font-family: "Aller_Rg";
    src: url("fonts/Aller_Rg.ttf")
}

.skillList {
    list-style-type: none;
}

.skill-level {
    background-color: #227c74;
    border-radius: 4px;
    color: #fff;
    padding: 1px 8px;
    font-size: .75em;
    position: absolute;
    margin: 1px 10px;
    vertical-align:baseline;
    max-height: 35px;
}

.skill {
    margin-bottom: 15px;
    font-size: 1.15em;
    font-weight: 600;
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    
}

.move-lower {
    padding-top: 7px;
}

.development ul {
    text-align: center;
    padding-right: 50px;
}

.marketing ul {
    text-align: center;
    padding-right: 50px;
} 

.other ul {
    text-align: center;
    padding-right: 50px;
}
